@import "colors.css";

@define-color bg @surface;
@define-color text1 @primary;
@define-color text2 @secondary;

* {
  font-family: "Iosivka Font Nerd Mono";
  font-size: 14px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: @bg;
  color: @primary;
}

#workspaces button {
  padding: 0 2px;
  color: @primary;
  background: transparent;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button:hover {
  background: @secondary;
}

#clock {
  color: @primary;
}
#network {
  color: @primary;
  margin-left: 5px;
  margin-right: 10px;
}

#language {
  color: @primary;
}
#pulseaudio {
  color: @primary;
}
#battery {
  color: @primary;
  padding: 0 12px;
}
