layout {
	background-color "#1a1110"

    focus-ring {
        active-color "#ffb4ab"
        inactive-color "#a08c8a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4ab"
        inactive-color "#a08c8a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4ab"
        inactive-color "#a08c8a"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4ab80"
    }
}

overview {
	backdrop-color "#1a1110"
}

recent-windows {
    highlight {
        active-color "#ffb4ab"
        urgent-color "#ffb4ab"
    }
}
