layout {
	background-color "#17130b"

    focus-ring {
        active-color "#eac16c"
        inactive-color "#998f80"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#eac16c"
        inactive-color "#998f80"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#eac16c"
        inactive-color "#998f80"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#eac16c80"
    }
}

overview {
	backdrop-color "#17130b"
}

recent-windows {
    highlight {
        active-color "#eac16c"
        urgent-color "#ffb4ab"
    }
}
