spawn-sh-at-startup "makoctl mode -a do-not-disturb"
spawn-sh-at-startup "uniclipboard daemon start &"
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-sh-at-startup "swaybg -c 030303"
spawn-sh-at-startup "makoctl mode -r do-not-disturb"
