layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

    }


    default-column-width { proportion 0.5; }

    focus-ring {

        width 1 

        active-gradient from="#f06cd4" to="#f7047e" angle=45

        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }


    border {
        width 1 
        urgent-color "#9b0000"
    }

}
